/* style sheet for My Origins_css.html */

h1 {
	text-align: center; 
	color: #aeadff; 
	font-size: 40 px;
} /* end of h1 */

body{
	background-color: #dccaec;
	font-family: helvetica, sans-serif;
} /*end of body */

 
p {
	text-align: center;
	color: #b65e7b;
	font-size: 16px;
} /* end of p style */


table {
   	width: 100%;  	
}  /* end of table */

#heading { 
    color: #0080ff;
    font-size: 48px;   
} /* end of id: h1_01 */


#copyright {
	size: 3px;
	color: red;
	font-style: italic; 
} 

a:link {
	text-decoration: none;
	color: #0080ff;
} /* end of a:link */


a:visited {
	text-decoration: none;
	color: #FF0080;
} /* end of a:visited */


a:hover {
	text-decoration: underline;
	color: #FF00FF
} /* end of a:hover */

a:active {
	text-decoration: underline;
	color: #FF0080;
} /* end of a: active */


a:focus {
	text-decoration: none;
	color: #FFFF9E;
} /* end of a:focus */

